@import url('./styles/basic.css');
@import url('./styles/bubbles.css');
@import url('./styles/slice.css');
@import url(./styles/ball.css);
@import url(./styles/ball2.css);
@import url(./styles/foldy.css);
@import url(./styles/foldy2.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
  color: var(--bgColor);
}

:root {
  --bgColor: #070112;
  --bgColor10: #1f1a32;
  --white: #eee;
  --color2: #244c6a;
  --color1: #00a1b7;
  --size-large: calc(8px * 6);
  --size-medium: calc(8px *3);
}

*::selection {
  background-color: var(--white);
  color: var(--bgColor);
}

body {
  background-color: var(--bgColor);
}

header {
  padding: 2em 5em;
  text-align: center;

  & h1 {
    color: var(--color1);
    font-weight: 900;
    font-size: var(--size-large);
  }
}

main {
  padding: 1em 10%;
  min-height: 90dvh;
}

#gallery {
  padding: 3em 10%;

  border-radius: 1em;
  background-color: var(--bgColor10);
  box-shadow:  16px 16px 20px #030007,
             -16px -16px 20px #0b021d;

  display: flex;
  flex-wrap: wrap;
  gap: 3em;
  align-items: center;
  justify-content: center;
}

#gallery > .card {
  --paddind: 5%;
  padding: var(--paddind);
  padding-top: calc(var(--paddind) + 1.3em + 1em);

  border: 3px solid var(--bgColor);
  border-radius: 1em;
  background: var(--bgColor);
  box-shadow:  14px 14px 48px #13101e,
             -14px -14px 48px #2b2446;

  position: relative;
  overflow: hidden;

  & p.name {
    width: 100%;
    height: 2em;
    padding: .5em 1em;
    font-weight: 600;
    font-size: 1.3em;
    position: absolute;
    inset: 0;
    text-wrap-mode: nowrap;

    background-color: var(--color2);
  }
}

button {
  --c1: var(--bgColor);
  --c2: var(--color1);
}