.ball {
  /* --c1: var(--bgColor); */
  /* --c2: var(--color2); */
  --size-letter: var(--size-medium);
  --transition: cubic-bezier(0.83, 0, 0.17, 1);

  padding: .5em 1em;
  font-size: var(--size-letter);
  
  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: .2em;
  cursor: pointer;
  
  overflow: hidden;
  position: relative;
  transition: 300ms var(--transition);

  & > span {
    font-weight: 700;
    color: var(--c2);
    position: relative;
    z-index: 1;
    transition: color 700ms var(--transition);
  }
}

.ball::after {
  content: '';

  width: 120%;
  scale: 0;
  aspect-ratio: 1/1;

  background-color: var(--c2);
  border-radius: 46% 54% 70% 30% / 73% 45% 55% 27%  ;

  position: absolute;
  inset: 50%;
  translate: -50% -50%;
  transition: 1000ms var(--transition);
}

.ball:hover {
  & > span {
    color: var(--c1);
  }

  &::after {
    scale: 1;
    border-radius: 50%;
  }
}

.ball:active {
  scale: .98;
  filter: brightness(0.9);
}