button {
  /* --c1: var(--bgColor); */
  /* --c2: var(--color2); */
  --size-letter: var(--size-medium);
  --transition: cubic-bezier(0.83, 0, 0.17, 1);

  padding: .5em 1em;
  font-size: var(--size-letter);
  
  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: .2em;
  cursor: pointer;
  
  overflow: hidden;
  position: relative;
  transition: 300ms var(--transition);

  & > span {
    font-weight: 700;
    color: var(--c2);
    position: relative;
    z-index: 1;
    transition: color 700ms var(--transition);
  }
}

button:hover {
  &.basic {
    background-color: var(--c2);
  }
  & > span {
    color: var(--c1);
  }
}

button:active {
  scale: .98;
  filter: brightness(0.9);
}