.foldy2 {
  /* --c1: var(--bgColor); */
  /* --c2: var(--color2); */
  --size-letter: var(--size-medium);
  --transition: cubic-bezier(0.83, 0, 0.17, 1);

  padding: .5em 1em;
  font-size: var(--size-letter);
  
  background-color: transparent;
  border: calc(var(--size-letter) / 6) solid var(--c2);
  border-radius: .2em;
  cursor: pointer;
  
  overflow: hidden;
  position: relative;
  transition: 300ms var(--transition);

  & > span {
    font-weight: 700;
    color: var(--c2);
    position: relative;
    z-index: 1;
    transition: color 700ms var(--transition);
  }
}

.foldy2::after {
  content: '';
  width: calc(100% + 2em);
  aspect-ratio: 1/1;

  background-color: var(--c2);

  position: absolute;
  top: calc(100% + 1em);
  left: calc(100% + 1em);

  transform-origin: top left;
  rotate: 90deg;
  transition: 1000ms var(--transition);
}

.foldy2:hover {
  &::after {
    rotate: 180deg;
  }
  & > span {
    color: var(--c1);
  }
}

.foldy2:active {
  scale: .98;
  filter: brightness(0.9);
}